:root {
  --ElmsSans: "Elms Sans", sans-serif;
  --MrsSheppards: "Mrs Sheppards", cursive;;
  --MomoTrustDisplay: "Momo Trust Display", sans-serif;
  --prime: #f3c28b;
  --black: #0a0a0a;
  --white: #f1f1f1;
  --blackTwo: #100f0f;
  --card-color: #181717;
}
body, html {
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  scrollbar-width: thin;
}
* {
  color: var(--white);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid rgba(255, 0, 0, 0.25); */
}
body {
  background-color: var(--black);
  font-family: var(--ElmsSans);
  margin-top: 65px;
}
a {
  color: var(--white);
  text-decoration: none;
}
li {
  list-style: none;
}
span {
  color: var(--white);
}