/*----- GENERAL -----*/
:root {
  --ElmsSans: "Elms Sans", sans-serif;
  --MrsSheppards: "Mrs Sheppards", cursive;;
  --MomoTrustDisplay: "Momo Trust Display", sans-serif;
  --prime: #f3c28b;
  --black: #0a0a0a;
  --white: #f1f1f1;
  --blackTwo: #100f0f;
  --card-color: #181717;
}
html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  scrollbar-width: thin;
}
* {
  color: var(--white);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid rgba(255, 0, 0, 0.25); */
}
body {
  background-color: var(--black);
  font-family: var(--ElmsSans);
  margin-top: 65px;
}
a {
  color: var(--white);
  text-decoration: none;
}
li {
  list-style: none;
}
span {
  color: var(--white);
}
/*----- HEADER -----*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  /* background-color: var(--black); */
  background-color: rgba(20, 20, 20, 0.90);
  backdrop-filter: blur(4px);
  border-bottom: var(--prime);
  height: 65px;
}
.home-link-container {
  padding: 0px 12px;
  margin-left: 30px;
  transition: 0.15s ease;
}
.home-link-container:active {
  transform: scale(0.98);
}
.home-link-container:hover .name-one,
.home-link-container:hover .name-two {
  color: var(--prime);
}
.name-one {
  font-family: var(--MrsSheppards);
  font-weight: 100;
  font-size: 2rem;
  margin-right: -2px;
}
.name-two {
  font-size: 2rem;
}
.header-links-list {
  padding-left: 0;
  display: flex;
}
.header-links {
  padding: 4px 14px;
  font-size: 1.25rem;
  transition: 0.25s ease;
}
.header-links:hover {
  color: var(--prime);
  transform: scale(0.55);
}
.right-section {
  margin: 0 30px;
}
.showcase-link,
.about-link {
  position: relative;
  display: block;
  transition: 0.25s ease;
}
.showcase-link:hover,
.about-link:hover {
  transform: translateY(4px);
}
/*----- MAIN -----*/
#main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--black);
}
.main-left-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-color: var(--blackTwo);
  position: relative;
}
.main-details-container {
  margin-bottom: 160px;
}
.showcase-title,
.name {
  display: block;
}
.from {
  display: block;
  margin-bottom: 40px;
  font-size: 1.25rem;
}
.role-title {
  font-size: 1.85rem;
  font-weight: 500;
  color: var(--white);
  margin-bottom: 10px;
}
.name {
  font-family: var(--YesevaOne);
  color: var(--white);
  font-size: 3.45rem;
  font-weight: 800;
  letter-spacing: 4px;
  margin-bottom: 10px;
}
.linkedin-icon,
.github-icon {
  height: 22px;
  width: 22px;
  fill: var(--white);
  transition: 0.25s ease;
  margin-right: 6px;
}
.web-links-container {
  display: flex;
}
.web-links {
  display: flex;
  margin-right: 12px;
}
.web-links:hover {
  color: var(--prime);
}


.main-right-section {
  height: 100dvh;
  background: linear-gradient(to right, var(--black), var(--blackTwo));
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.profile-container {
  background: linear-gradient(to bottom, var(--white) 40%, rgb(182, 182, 182));
  border-top-left-radius: 360px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 400px;
  border-bottom-right-radius: 400px;
  margin-bottom: 80px;
  /* height: 600px;
  width: 600px; */
  width: min(65vh, 500px);
  height: min(65vh, 500px);
  position: relative;
  transform: scale(0.78);
  transition: 0.25s ease-out;
}
@keyframes blob-zoom {
  0% {
    filter: blur(0px);
    transform: scale(1) skew(0deg);
  }
  100% {
    filter: blur(0.15px);
    transform: scale(0.98) skew(-1deg);
  }
}
.profile-image,
.s-profile-image {
  height: 100%;
  width: 100%;
  border-radius: 100px;
  opacity: 0.25;
}
.profile-image {
  transition: 0.25s ease-in-out;
  animation: blob-zoom 4s ease-in-out 0s infinite alternate both;
}
.s-profile-image {
  position: relative;
  transform: scale(0.95);
  cursor: pointer;
  position: absolute;
  z-index: 100;
  opacity: 1;
  border-radius: 400px;
  border-top-left-radius: 360px;
  transition: 0.45s ease;
}
.show-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100px;
  border-radius: 40px;
  position: fixed;
  user-select: none;
  cursor: pointer;
  font-size: 1.05rem;
  top: -80px;
  right: -40px;
  outline: 2px solid var(--white);
  opacity: 0.55;
  transition: 0.45s ease;
}
.show-button:hover {
 opacity: 1;
 color: var(--prime);
}

.after-container {
  border-radius: 400px;
}
.active-s-profile {
  transform: skew(-4deg) scale(0.90);
}
.after-s-profile {
  border-radius: 400px;
  transform: translateX(-260px) translateY(-160px) scale(0.45);
  box-shadow: 10px 12px 2px rgba(0, 0, 0, 0.02);
  outline: 6px solid var(--prime);
}
.after-profile {
  opacity: 1;
  transform: scale(0.90);
  border-bottom-left-radius: 700px;
  border-bottom-right-radius: 180px;
}
/*----- SHOWCASE -----*/
#showcase {
  background-color: var(--blackTwo);
  width: 100%;
}
.showcase-heading,
.about-heading {
  text-align: center;
  padding-top: 80px;
  font-size: 5rem;
  font-weight: 800;
  padding-bottom: 20px;
}
#cards {
  padding: 0px 100px;
  padding-bottom: 60px;
  width: 100%;
  height: 100%;
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  row-gap: 40px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 60px;
}
.card {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 650px;
  display: flex;
  cursor: pointer;
  border-radius: 16px;
  background-color: rgba(243, 194, 139, 0.05);
  position: relative;
  overflow: hidden;
  transition: 0.25s ease;
}
.card:hover::before,
.card:hover .card-border {
  opacity: 1;
}
.card::before,
.card-border {
  opacity: 0;
  border-radius: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.45s ease-out;
}
.card::before {
  background: radial-gradient(1000px circle at var(--mouse-x) var(--mouse-y),
  rgba(243, 194, 139, 0.025), transparent 40%);
  z-index: 3;
}
.card-border {
  opacity: 0;
  background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y),
  rgba(243, 194, 139, 0.6), transparent 40%);
  z-index: 1;
}
.card::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 18px;
  background-color: var(--prime);
  left: 0;
  top: 0;
  transition: 0.15s ease;
}
.card:hover::after {
  width: 5%;
}
.card-contents {
  display: grid;
  background: var(--card-color);
  grid-template-columns: 270px 1fr;
  gap: 18px;
  z-index: 2;
  vertical-align: middle;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  margin: 1px;
  border-radius: inherit;
}
.showcase-title {
  padding: 0px 12px;
  align-content: center;
  text-align: center;
  background-color: rgba(10, 10, 10, 0.5);
  font-weight: 400;
  line-height: 36px;
  height: 100%;
  font-size: 1.65rem;
  opacity: 0.25;
  transition: 0.25s ease;
}
.description {
  padding: 30px;
  font-weight: 500;
  font-size: 1.05rem;
  line-height: 24px;
  opacity: 0.25;
  transition: 0.45s ease;
}
.card-link-container {
  display: none;
  pointer-events: none;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, var(--prime) 60%, transparent);
  position: absolute;
  opacity: 0;
  border-radius: inherit;
  transform: translateY(80px);
  transition: 0.25s ease;
}
.card:hover .card-link-container {
  transform: translateY(0);
}
.first-letter-title {
  font-family: var(--MrsSheppards);
  margin-right: 8px;
  font-size: 2.65rem;
}
.card:hover .description {
  opacity: 1;
}
.card:hover .showcase-title,
.card:hover .first-letter-title {
  color: var(--prime);
  opacity: 1;
}
.card:hover {
  border-top-left-radius: 12px;
  transform: translateY(4px);
  perspective: 1000px;
}

/*----- ABOUT -----*/
#about {
  background-color: var(--black);
  width: 100%;
}
.about-heading {
  padding-top: 20px;
}
.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
}
.about-me-container {
  padding: 60px 120px;
  background-color: rgba(243, 243, 243, 0.03);
  transition: 0.25s ease;
}
.about-me-container:hover {
  background-color: var(--blackTwo);
}
.about-me {
  font-size: 1.15rem;
  line-height: 32px;
}
.edu-skill-heading {
  display: flex;
}
.tab-links {
  cursor: pointer;
  font-size: 1.25rem;
  margin: 0 80px;
  margin-right: 20px;
  position: relative;
  padding:0px 0px;
  color: var(--white);
  transition: 0.65s ease;
}
.tab-links::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 4px;
  bottom: -8px;
  background-color: var(--card-color);
  transition: 0.25s ease;
}
.tab-links.active-link {
  color: var(--prime);
}
.tab-links.active-link::before {
  width: 80%;
}
.tab-contents {
  line-height: 40px;
  margin: 20px 80px;
  font-size: 1.15rem;
  display: none;
}
.tab-contents.active-tab {
  display: block;
}
.tab-contents.active-tab li {
  list-style: circle;
}
/*----- FOOTER -----*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 100%;
  background-color: var(--blackTwo);
  transition: 0.5s ease;
  overflow: hidden;
}
.footer-links {
  text-decoration: underline;
  font-weight: 500;
}
.footer-links:hover {
  color: var(--prime);
}
.footer .leaving-text-container {
  display: none;
}
.footer.active-footer .leaving-text-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: end;
  line-height: 30px;
  opacity: 1;
  transition: 0.5s ease;
}
.left-leaving-text-container {
  display: flex;
  padding-right: 80px;
}
.right-leaving-text-container {
  padding-left: 80px;
}
.footer .footer-text {
  opacity: 1;
  transition: 0.5s ease;
}
.footer.active-footer .footer-text {
  display: none;
}
.built-text {
  display: block;
  font-size: 1.25rem;
  margin-bottom: 14px;
}
.built-text span {
  display: inline-block;
  font-weight: 700;
  font-size: 1.15rem;
}